@font-face {
    font-family: 'Proxima Nova Semi Bold';
    src: url('#{$font-path-url}/proximanova-semibold.eot');
    src: url('#{$font-path-url}/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path-url}/proximanova-semibold.woff2') format('woff2'),
         url('#{$font-path-url}/proximanova-semibold.woff') format('woff'),
         url('#{$font-path-url}/proximanova-semibold.ttf') format('truetype'),
         url('#{$font-path-url}/proximanova-semibold.svg#Proxima Nova Semi Bold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('#{$font-path-url}/proximanova-bold.eot');
    src: url('#{$font-path-url}/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path-url}/proximanova-bold.woff2') format('woff2'),
         url('#{$font-path-url}/proximanova-bold.woff') format('woff'),
         url('#{$font-path-url}/proximanova-bold.ttf') format('truetype'),
         url('#{$font-path-url}/proximanova-bold.svg#Proxima Nova Bold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Regular Italic';
    src: url('#{$font-path-url}/proximanova-regularit.eot');
    src: url('#{$font-path-url}/proximanova-regularit.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path-url}/proximanova-regularit.woff2') format('woff2'),
         url('#{$font-path-url}/proximanova-regularit.woff') format('woff'),
         url('#{$font-path-url}/proximanova-regularit.ttf') format('truetype'),
         url('#{$font-path-url}/proximanova-regularit.svg#Proxima Nova Regular Italic') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('#{$font-path-url}/proximanova-regular.eot');
    src: url('#{$font-path-url}/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path-url}/proximanova-regular.woff2') format('woff2'),
         url('#{$font-path-url}/proximanova-regular.woff') format('woff'),
         url('#{$font-path-url}/proximanova-regular.ttf') format('truetype'),
         url('#{$font-path-url}/proximanova-regular.svg#Proxima Nova Regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('#{$font-path-url}/proximanova-light.eot');
    src: url('#{$font-path-url}/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path-url}/proximanova-light.woff2') format('woff2'),
         url('#{$font-path-url}/proximanova-light.woff') format('woff'),
         url('#{$font-path-url}/proximanova-light.ttf') format('truetype'),
         url('#{$font-path-url}/proximanova-light.svg#Proxima Nova Light') format('svg');
    font-weight: 300;
    font-style: normal;

}

//-------------font proxima nova
@mixin proxima-nova-light() {
    font-family: 'Proxima Nova Light', 'Proxima Nova Regular', sans-serif;
    font-weight: 300;
}

@mixin proxima-nova-regular() {
    font-family: 'Proxima Nova Regular', 'Proxima Nova Regular', sans-serif;
    font-weight: 400;
}

@mixin proxima-nova-semi-bold() {
    font-family: 'Proxima Nova Semi Bold', 'Proxima Nova Regular', sans-serif;
    font-weight: 600;
}

@mixin proxima-nova-bold() {
    font-family: 'Proxima Nova Bold', 'Proxima Nova Regular', sans-serif;
    font-weight: 700;
}

@mixin proxima-nova-regular-italic() {
    font-family: 'Proxima Nova Regular Italic', 'Proxima Nova Regular', sans-serif;
    font-weight: 400;
}
//base font sizes
@mixin font12 {
    font-size: 12px;
    line-height: 15px;
}
@mixin font14 {
    font-size: 14px;
    line-height: 18px;
}
@mixin font15 {
    font-size: 15px;
    line-height: 20px;
}
@mixin font16 {
    font-size: 16px;
    line-height: 22px;
}
@mixin font18 {
    font-size: 18px;
    line-height: 24px;
}
@mixin font24 {
    font-size: 24px;
    line-height: 30px;
}
@mixin font27 {
    font-size: 27px;
    line-height: 32px;
}
@mixin font32 {
    font-size: 32px;
    line-height: 38px;
}
@mixin font34 {
    font-size: 34px;
    line-height: 40px;
}
@mixin font36 {
    font-size: 36px;
    line-height: 42px;
}
@mixin font40 {
    font-size: 40px;
    line-height: 46px;
}
