@mixin gray-gradient() {
    @include gradient-vertical(#4f5155, #3a3c3f);
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #2b2d2f;
    color: #f4eeaa;
}

@mixin font-shorthand($size: $font-size-base,$lineHeight: $line-height-base, $weight: normal, $style:normal) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    // font-style: $style;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin font-proxima-nova-regular ($size: $font-size-base,$lineHeight: $line-height-base, $weight: 400,$style:normal) {
    font-family: 'Proxima Nova Regular', 'Proxima Nova Regular', sans-serif;
    @include font-shorthand($size,$lineHeight, $weight,$style);
}
@mixin font-proxima-nova-semi-bold ($size: $font-size-base,$lineHeight: $line-height-base, $weight: 600,$style:normal) {
    font-family: 'Proxima Nova Semi Bold', 'Proxima Nova Regular', sans-serif;
    @include font-shorthand($size, $lineHeight, $weight,$style);
}
@mixin font-proxima-nova-bold ($size: $font-size-base,$lineHeight: $line-height-base, $weight: 700,$style:normal) {
    font-family: 'Proxima Nova Bold', 'Proxima Nova Regular', sans-serif;
    @include font-shorthand($size, $lineHeight, $weight,$style);
}
@mixin font-proxima-nova-light ($size: $font-size-base, $lineHeight: $line-height-base, $weight: 300,$style:normal) {
    font-family: 'Proxima Nova Light', 'Proxima Nova Regular', sans-serif;
    @include font-shorthand($size, $lineHeight, $weight,$style);
}
@mixin font-proxima-nova-regular-italic ($size: $font-size-base, $lineHeight: $line-height-base, $weight: 400,$style:italic) {
    font-family: 'Proxima Nova Regular Italic', 'Proxima Nova Regular', sans-serif;
    @include font-shorthand($size,$lineHeight, $weight,$style);
}

@mixin gradient-radial($inner-color: #fdf5b4, $middle-color:#fbed75, $outer-color: #fae431) {
    background: #fae42f;
    background-image: url("../../images/body_bg_yellow.png");
    background: -webkit-radial-gradient($inner-color, $middle-color, $outer-color); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient($inner-color, $middle-color, $outer-color); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient($inner-color, $middle-color, $outer-color); /* For Fx 3.6 to 15 */
    background: radial-gradient($inner-color, $middle-color, $outer-color); /* Standard syntax (must be last) */
}
@mixin gradient-theme-gray() {
    background: -moz-linear-gradient(top,  rgba(204,206,207,0.4) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,206,207,0.4)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(204,206,207,0.4) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(204,206,207,0.4) 0%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(204,206,207,0.4) 0%,rgba(255,255,255,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(204,206,207,0.4) 0%,rgba(255,255,255,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cccecf', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
}
@mixin gradient-horizontal-yellow () {
    background-color:#fae431;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#fae431, endColorstr=#fdf5b4);
    background-image:-moz-linear-gradient(left, #fae431 5%, #fdf5b4 50%,#fae431 95%);
    background-image:linear-gradient(left, #fae431 5%, #fdf5b4 50%,#fae431 95%);
    background-image:-webkit-linear-gradient(left, #fae431 5%, #fdf5b4 50%,#fae431 95%);
    background-image:-o-linear-gradient(left, #fae431 5%, #fdf5b4 50%,#fae431 95%);
    background-image:-ms-linear-gradient(left, #fae431 5%, #fdf5b4 50%,#fae431 95%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(5%,#fae431), color-stop(50%,#fdf5b4),color-stop(95%,#fae431));
}
//-customm mixins
@mixin placeholder-italic($color: $input-color-placeholder, $fontSize: 36px, $lineHeight: 42px) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        @include font-lato-regular-italic($fontSize, $lineHeight);
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }
    &:-ms-input-placeholder { 
        color: $color;
        @include font-lato-regular-italic($fontSize, $lineHeight);
    } // Internet Explorer 10+
    &::-webkit-input-placeholder  { 
        color: $color;
        @include font-lato-regular-italic($fontSize, $lineHeight);
    } // Safari and Chrome
}
