//-----------Custom variables will goes here
$white:				#FFF;
$white-F8F8F8:  	#F8F8F8;
$white-fbfbf9:      #fbfbf9;
$gray-CCC:			#CCC;
$gray-666562:		#666562;
$gray-989898:		#989898;
$gray-f6f5f3:		#f6f5f3;
$gray-ADABA5:		#ADABA5;
$gray-DAD9D6:		#DAD9D6;
$gray-63778c:       #63778c;
$gray-7f7e7b:       #7f7e7b;
$gray-706F6C:		#706F6C;
$gray-868582:		#868582;
$gray-8b8a87:		#8b8a87;
$gray-fcfaf7:		#fcfaf7;
$gray-797875:		#797875;
$gray-a6a49d:		#a6a49d;
$gray-858582:		#858582;
$gray-b6b6b4:		#b6b6b4;
$gray-fafafa:		#fafafa;
$gray-f7f6f4:		#f7f6f4;
$black-333333:      #333333;
$red-F34941:		#F34941;
$red-e8524a:		#e8524a;
$green-8CC63F:		#8CC63F;
$grey-f0eee9:       #f0eee9;
$red-F34941:		#F34941;
$red-f04648:        #f04648;
$green-00A99D:		#00A99D;
$green-01daaf:      #01daaf;
$green-3cb878:      #3cb878;
$green-359c67:      #359c67;
$orange-FBB03B: 	#FBB03B;
$orange-fab03c:     #fab03c;
$yellow-F3D426: 	#F3D426;
$yellow-D1B934: 	#D1B934;
$yellow-fff200:     #fff200;
$yellow-fff424:     #fff424;
$theme-dark-blue: 	#246AB4;
$theme-blue-form: 	#2561a1;
$blue-303a45:       #303a45;
$blue-3d5064:       #3d5064;
$blue-809dbc:		#809dbc;
$blue-4c8bce:       #4c8bce;
$blue-4e8ed3:       #4e8ed3;
$blue-495e74:		#495e74;
$blue-0757ab:		#0757ab;
$blue-28394b:		#28394b;
$blue-8ba7c4:		#8ba7c4;
$blue-163e68:		#163e68;
$blue-1a4a7c:		#1a4a7c;
$blue-3780ce:		#3780ce;
$blue-3fb5c6:		#3fb5c6;
$blue-2060a4:		#2060a4;

//Button Variables
$red-button: #F34941;

//Stats Variables
$steps-color: 			#8CC63F;
$bloodpresure-color: 	#F34941;
$heartrate-color: 		#FBB03B;
$sleep-color: 			#534761;
$calories-color: 		#00a99d;
$weight-color: 			#29abe2;


//-----------
$journey-color:		#8cc63f;
$fitness-color:		#fbb03b;
$event-color:		#534761;
$finance-color:		#2589b4;

//bootstrap select scss
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);

$width-default: 100%; // 3 960px-grid columns

$zindex-select-dropdown: 1035; // must be lower than a modal background (1040) but higher than the fixed navbar (1030)
